*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: 65em) {
    font-size: 56.25%;
  }
}

body {
  min-height: 100vh;
}
