body {
  font-family: $font-primary;
  font-size: $defaut-font-size;
}

.header {
  &__title {
    font-family: $font-secondary;
    font-size: 6rem;
    letter-spacing: 0.8rem;
    color: $color-grey-dark;
  }
}
