body {
  font-family: $font-primary;
  font-size: $font-size-default;
}

.heading-1 {
  font-family: $font-secondary;
  font-size: $font-size-big;
  letter-spacing: 0.8rem;
  color: $color-grey-dark;
}
