// Colors
$color-grey-dark: #111827;
$color-grey-medium: #555555;
$color-white: #ffffff;

// Fonts
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Permanent Marker', cursive;

$font-size-default: 1.6rem;
$font-size-big: 6rem;
