// Colors
$color-grey-dark: #111827;
$color-white: #fff;

// Fonts
$defaut-font-size: 1.6rem;

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Permanent Marker', cursive;

// Spacing
$sp-bg: 20rem;
$sp-md: 12rem;
