.section-board {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: minmax(6rem, 1fr) max-content minmax(6rem, 1fr);
  column-gap: 9.6rem;

  .sketch-board {
    grid-column: 3 / -3;

    display: grid;
    justify-content: center;
    justify-self: center;
    height: 65rem;
    width: 65rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
  }
}
